<?xml version="1.0" encoding="UTF-8"?>

<plugin
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="plug-test"
        version="1.1.0"
>

    <name>plug-test</name>
    <description>mafia.club plug test thing</description>
    <keywords>cordova,android,plug_test</keywords>
    <repo>https://github.com/shubckin/plug-test.git</repo>

    <license>BSD</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/PlugTest.js" name="PlugTest">
        <clobbers target="PlugTest" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PlugTest">
                <param name="android-package" value="club.mafia.plug_test.PlugTest"/>
            </feature>
        </config-file>
        <source-file src="src/android/club/mafia/plug_test/PlugTest.java" target-dir="src/club/mafia/plug_test"/>
    </platform>
</plugin>
